body {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.container {
  overflow: hidden;
  background-color: #6f7c6f;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  z-index: 2;
}

/*
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}}
*/
main {
  margin-top: 70px;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#id01 {
  max-width: 800px;
  float: right;
}

#id02 {
  background-color: green;
  float: left;
}

#searchBar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
}

#searchTxt {
  font-size: 20px;
  box-sizing: border-box;
  padding: 3px 0 3px 12px;
  font-family: sans-serif;
  width: 60%;
  /*transform: translateY(-15%);*/
  border: 1px solid #000000;
  background-color: #ffffff;
  float: left;
}

button {
  background-color: #d7d4d9;
  border: 1px solid #000000;
  padding: 4px 5px;
  margin: 0;
  cursor:pointer;
}

.tile {
  border: 3px solid grey;
  padding: 20px;
  text-align: center;
  width: 10px;
  background: rgb(76, 169, 173, 0.8);
  position: relative;
  border-radius: 5px;
  cursor:pointer;
}

td:hover {
  background-color: rgb(76, 169, 180, 1);
}

table {
  margin: 0px 0 0 auto;
  border-spacing: 1.5rem;
  border-collapse: separate;
}

iframe {
  width: 700px;
  border: none;
}

.fa-magic {
  font-size: 20px;
  /* Chrome, Safari, Opera */
  -webkit-animation: rotating 2s linear infinite, rainbow 3s infinite;
  /* Mozilla */
  -moz-animation: rotating 2s linear infinite;
  /* Internet Explorer */
  -ms-animation: rotating 2s linear infinite, rainbow 3s infinite;
  /* Opera too? */
  -o-animation: rotating 2s linear infinite;
  /* Standar Syntax */
  animation: rotating 2s linear infinite, rainbow 3s infinite;
}

/* ANIMATION CORNER ! */
/* IFRAME DROPDOWN ANIMATION THING */
.section {
  overflow:hidden;
  transition:height 1s ease-out;
}

/* MAGIC WAND ROTATION */
/* Internet Explorer */
@-ms-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Standar Syntax */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* MAGIC WAND RAINBOW COLOR CHANGE */
/* Safari and Chrome */
@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }

  10% {
    color: purple;
  }

  20% {
    color: red;
  }

  30% {
    color: CadetBlue;
  }

  40% {
    color: yellow;
  }

  50% {
    color: coral;
  }

  60% {
    color: green;
  }

  70% {
    color: cyan;
  }

  80% {
    color: DeepPink;
  }

  90% {
    color: DodgerBlue;
  }

  100% {
    color: orange;
  }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
  0% {
    color: orange;
  }

  10% {
    color: purple;
  }

  20% {
    color: red;
  }

  30% {
    color: CadetBlue;
  }

  40% {
    color: yellow;
  }

  50% {
    color: coral;
  }

  60% {
    color: green;
  }

  70% {
    color: cyan;
  }

  80% {
    color: DeepPink;
  }

  90% {
    color: DodgerBlue;
  }

  100% {
    color: orange;
  }
}

/* Standar Syntax */
@keyframes rainbow {
  0% {
    color: orange;
  }

  10% {
    color: purple;
  }

  20% {
    color: red;
  }

  30% {
    color: CadetBlue;
  }

  40% {
    color: yellow;
  }

  50% {
    color: coral;
  }

  60% {
    color: green;
  }

  70% {
    color: cyan;
  }

  80% {
    color: DeepPink;
  }

  90% {
    color: DodgerBlue;
  }

  100% {
    color: orange;
  }
}
